

<div class="todolist">
    <h3 > task list</h3>
    <div class="contain" >
        <ul >
            <li  *ngFor="let todo of todos; index as i;">
                <div  class="div-1" *ngIf="editIndex !== i">
                    {{ todo.task }}
                </div>
                <div class="div-2" *ngIf="editIndex === i">
                    <input placeholder="Write down your daily tasks"  [(ngModel)]="todo.task">
                </div>
                <div class="div-3" class="buttons">
                    <button class="btn btn-danger right" (click)="removeTodo(i)">delete</button>
                    <button class="btn btn-primary right" (click)="editTodo(i)" *ngIf="editIndex !== i">edit</button>
                    <button class="btn btn-success right" (click)="saveTodo(i, todo.task)" *ngIf="editIndex === i">save</button>
                    <button class="btn btn-secondary right" (click)="cancelEdit()" *ngIf="editIndex === i">cancel</button>
                </div>
            </li>
            
        </ul>
    </div>
</div>